.nav_icons{
  filter: hue-rotate(324deg) saturate(70%) brightness(42%);
}

.footer_line:after {
  transform: scaleX(0);
  /* transform-origin: bottom right; */
  transition: transform 0.5s ease-out;
}

.footer_line:hover:after {
  transform: scaleX(1);
  /* transform-origin: bottom left; */
}